.header img {
  width: 300px;
}
.header {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  /* background-image: url(https://im.uniqlo.com/global-cms/spa/resba702f326ece6e072306fef710aba841fr.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top; */
}
.navigator {
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  height: 110px; 
}
.navigator a {
  margin-left: 10px;
  margin-top: 5px;
  text-decoration: none;
  color: black;   transition-duration: 0.2s;
  transition-timing-function: ease-in-out; padding: 2px; 
}

@media screen and (min-width: 767px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin-top: 20px;
  }
  .navigator {
    font-size: 25px;
  }
  .header img {
    width: 450px;
  }.navigator :hover{
  color: white;
  background-color: black;
  padding: 5px; 
   transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  border-radius: 8px;
}
}
